body {
    overflow-x: hidden;
    overflow-y: hidden;
}

#forRIS1{
    margin-left: 200px;
}

.stock_number {
    width: 60px;
    text-align: center;
    font-family: "Bookman Old Style", sans-serif;
    font-weight: bold;
}

.purposeInput {
    margin-top: 60px;
    width: 1000px;
    height: 80px;
    font-family: "Bookman Old Style", sans-serif;
    font-weight: bold;
}
.stock_unit {
    width: 60px;
    text-align: center;
    font-family: "Bookman Old Style", sans-serif;
    font-weight: bold;
}

.quantityInput {
    justify-content: center;
    font-family: "Bookman Old Style", sans-serif;
    font-weight: bold;
    margin: auto;
    display: flex;
    align-items: center;
    align-self: center;
    align-content: center;
    text-align: center;
}

.quantityInputUser {
   
}

.quantityTitle {
    width: 5px;
}

.yesInputCheck {
    width: 10px;
}

.noInputCheck {
    width: 10px;
}

nav{
    background-color: #162fa0;
    width: 100%;
}

#endUserHeaderLogo {
    height: 110px;
}

nav ul{
    float: right;
}

#forRIS1 {
    font-family: "Bookman Old Style", sans-serif;
    border: solid;
}

.entityDeped {
    margin-bottom: -17.5px;
    margin-left: -800px;
}

.fundCluster {
    margin-right: -770px;
}

.cityDivision {
    margin-left: -895px;
}

.locationDivision {
    margin-top: -20px;
    margin-left: -525px;
}

.userOffice {
    margin-bottom: -17.5px;
    margin-left: -915px;
}

.userOfficePHP {
    margin-top: -20px;
    margin-left: 440px;
}

.centerCode {
    margin-top: -18px;
    margin-right: -650px;
}

.centerCodePHP {
    margin-top: -20px;
    margin-left: 900px;
}

.risNo {
    margin-right: -547px;
}

.risNoDate {
    margin-top: -20px;
    margin-right: -730px;
}

.purposeTitle {
    text-align: left;
    margin-top: 2px;
    margin-left: 5px;
    margin-bottom: -50px;
}

#signature {
    text-align: left;
    font-size: 12px;
    margin-top: 35px;
}

.firstcolumn_Approval {
    text-align: left;
    font-size: 11px;
    width: 10px;
}

.requestedBy {
    text-align: left;
    font-size: 12px;
    margin-bottom: 35px;
}

.approvalDiv {
    text-align: left;
    font-size: 13px;
    margin-bottom: 35px;
}

.approvedByName {
    text-align: center;
    font-size: 12px;
    width: 150px;
    margin-left: 30px;
}

.issuedByName {
    text-align: center;
    font-size: 12px;
    width: 150px;
    margin-left: 10px;
}

#designationID {
    text-align: left;
    font-size: 12px;
}

#approverPosition {
    text-align: center;
    font-size: 10px;
}

#issuerPosition {
    text-align: center;
    font-size: 10px;
}

#dateToday {
    text-align: left;
    font-size: 12px;
}

.formDate {
    text-align: center;
    font-size: 12px;
}

.item_description {
    font-family: "Bookman Old Style", sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    width: 225px;
}

.itemDescription_title {
    font-family: "Bookman Old Style", sans-serif;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    width: 225px;
}

.stock_number {
    text-align: center;
}

.accountName{
    text-align: center;
    font-size: 12px;
}

.issuedRemarks {
    width: 700px;
}

.userPosition {
    text-align: center;
    font-size: 12px;
}

#generatePDF {
    margin-left: 1200px;
    width: 100px;
    height: 50px;
    border-radius: 13px;
    font-family: "Bookman Old Style", sans-serif;
    font-size: 13px;
    font-weight: bold;
    background-color: #162fa0; /* Set the initial background color to #162fa0 */
    color: #fff; /* Set the initial font color to white */
    border: 2px solid #162fa0; /* Add a border */
    transition: background-color .3s; /* Add a smooth transition for background-color */
    cursor: pointer; /* Change the cursor to a pointer on hover */
}


#generatePDF:hover {
    background-color: #000000; /* Darken the background color on hover */
    border: #000000;
}


#logoutButton {
    margin-left: 1200px;
    margin-top: 10px;
    width: 100px;
    height: 50px;
    border-radius: 13px;
    font-family: "Bookman Old Style", sans-serif;
    font-size: 13px;
    font-weight: bold;
    background-color: #162fa0; /* Set the initial background color to #162fa0 */
    color: #fff; /* Set the initial font color to white */
    border: 2px solid #162fa0; /* Add a border */
    transition: background-color 0.3s; /* Add a smooth transition for background-color */
    cursor: pointer; /* Change the cursor to a pointer on hover */
}

#logoutButton:hover {
    background-color: #000000; /* Darken the background color on hover */
    border: #000000;
}

.endUserButtons {
    margin-left: 30px;
    margin-top: -250px;
}