*{
    margin: 0;
    padding: 0;
    font-family: 'bookman old style';
}


header{
    width: 100%;
    height: 150px;
    background-color: #162fa0;  
}


header img{
    margin-top: 10px;
    width: 120px;
}

.headerTitles{
    margin-top: -.3%;
    margin-left: 1%;
}

.headerTitles h1{
    font-size: 130%;
    color: white;
    position: absolute;
    margin-top: -100px;
    margin-left: 125px;
    
}

.headerTitles h2{
    font-size: 120%;
    color: white;
    position: absolute;
    margin-top: -100px;
    margin-left: 125px;
    font-weight: 100;
    
}

.headerTitles h3{
    font-size: 95%;
    color: white;
    position: absolute;
    margin-top: -100px;
    margin-left: 125px;
    font-weight: 100;
    
}

.title h2{
    text-align: center;
    font-size: 200%;
    margin-top: 20px;
    margin-bottom: 2%;
    margin-left: 10%;
}

.backbtn{
    float: right;
    margin-top: -120px;
    margin-right: 30px;
    padding: 15px 15px 15px 15px;
    color: white;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 10px;
}

.backbtn:hover{
    background: grey;
}

/* TABLE */
table{
    font-size: 20px;
    margin-left: 0%;
    width: 100%;
    border: 2px solid black;
    border-collapse: collapse; 
}

.table-number{
    width: 2%;
}

.table-name{
    width: 20%;
}

.table-date{
    width: 5%;
}

.table-button-release{
    width: 5%;
}

table tr {
    text-align: center;
    border: 2px solid black;
}

table tr th{
    height: 30px;
    background: #162fa0;
    color: white;
    font-style: italic;
    border: 2px solid black;
    top: 0px;
    position: sticky;
}

table tr td{
    height: 50px;
    font-size: 18px;
    border: 2px solid black;
    
}
.align-item-description{
    text-align: left;
    padding: 0px 0px 0px 20px;
}

.scroll{
    width: 1000px;
    margin-left: 18%;
    overflow-y: scroll;
}


/* TABLE */
.openRelease {
    color: black;
}

.openRelease:hover{
    color: blue;
}


@media screen and (min-width: 2560px){
    table{
        font-size: 20px;
        margin-left: 0%;
        width: 100%;
        border: 2px solid black;
        border-collapse: collapse; 
    }
    .scroll{
        width: 1000px;
        margin-left: 33%;
        overflow-y: scroll;
    }
}

@media screen and (max-width: 1440px){
    .title h2{
        text-align: center;
        font-size: 200%;
        margin-top: 20px;
        margin-bottom: 2%;
        margin-left: 10%;
    }
}

@media screen and (max-width: 1367px){
    .scroll{
        width: 80%;
        margin-left: 11%;
        overflow-y: scroll;
    }
}

@media screen and (max-width: 1326px){
    .scroll{
        width: 80%;
        margin-left: 10%;
        overflow-y: scroll;
    }
}

@media screen and (max-width: 1271px){
    .scroll{
        width: 80%;
        margin-left: 10%;
        overflow-y: scroll;
    }
}

@media screen and (max-width: 1200px){
    .backbtn{
        float: right;
        margin-top: -90px;
        margin-right: 20px;
        padding: 12px 15px 12px 15px;
        color: white;
        text-decoration: none;
        border: 2px solid black;
        border-radius: 10px;
        font-size: 15px;
    }
    .scroll{
        width: 80%;
        margin-left: 12%;
        overflow-y: scroll;
    }
}

@media screen and (max-width: 1024px){
    table{
        font-size: 20px;
        margin-left: 0%;
        width: 100%;
        border: 2px solid black;
        border-collapse: collapse; 
    }
    .scroll{
        width: 850px;
        margin-left: 10%;
        overflow-y: scroll;
    }

}

@media screen and (max-width: 992px){


}


@media screen and (max-width: 768px){
    header img{
        margin-top: 10px;
        width: 110px;
    }
    
    .headerTitles{
        margin-top: 0;
    }
    
    .headerTitles h1{
        font-size: 130%;
        color: white;
        position: absolute;
        margin-top: -100px;
        margin-left: 120px;
        
    }
    
    .headerTitles h2{
        font-size: 120%;
        color: white;
        position: absolute;
        margin-top: -100px;
        margin-left: 120px;
        font-weight: 100;
        
    }
    
    .headerTitles h3{
        font-size: 95%;
        color: white;
        position: absolute;
        margin-top: -100px;
        margin-left: 120px;
        font-weight: 100;
        
    }
    
    .title h2{
        text-align: center;
        font-size: 200%;
        margin-top: 20px;
        margin-bottom: 2%;
        margin-left: 20%;
    }
    
    .backbtn{
        float: right;
        margin-top: -80px;
        margin-right: 10px;
        padding: 12px 15px 12px 15px;
        color: white;
        text-decoration: none;
        border: 2px solid black;
        border-radius: 10px;
        font-size: 15px;
    }
    .scroll{
        width: 650px;
        margin-left: 9%;
        overflow-y: scroll;
    }
}


@media screen and (max-width: 600px){
    header img{
        margin-top: 10px;
        width: 100px;
    }
    
    .headerTitles{
        margin-top: 0;
    }
    
    .headerTitles h1{
        font-size: 100%;
        color: white;
        position: absolute;
        margin-top: -90px;
        margin-left: 110px;
        
    }
    
    .headerTitles h2{
        font-size: 95%;
        color: white;
        position: absolute;
        margin-top: -90px;
        margin-left: 110px;
        font-weight: 100;
        
    }
    
    .headerTitles h3{
        font-size: 90%;
        color: white;
        position: absolute;
        margin-top: -90px;
        margin-left: 110px;
        font-weight: 100;
        
    }
    
    .title h2{
        text-align: center;
        font-size: 25px;
        margin-top: 20px;
        margin-bottom: 2%;
        margin-left: 9%;
    }
    
    .backbtn{
        float: right;
        margin-top: -65px;
        margin-right: 15px;
        padding: 12px 15px 12px 15px;
        color: white;
        text-decoration: none;
        border: 2px solid black;
        border-radius: 10px;
        font-size: 12px;
    }

    table{
        font-size: 15px;
        margin-left: 0%;
        width: 100%;
        border: 2px solid black;
        border-collapse: collapse; 
    }

    .scroll{
        width: 500px;
        margin-left: 10%;
        overflow-y: scroll;
    }
}


@media screen and (max-width: 426px){
    header img{
        margin-top: 10px;
        width: 100px;
    }
    
    .headerTitles{
        margin-top: 0;
    }
    
    .headerTitles h1{
        font-size: 100%;
        color: white;
        position: absolute;
        margin-top: -100px;
        margin-left: 110px;
        
    }
    
    .headerTitles h2{
        font-size: 95%;
        color: white;
        position: absolute;
        margin-top: -100px;
        margin-left: 110px;
        font-weight: 100;
        
    }
    
    .headerTitles h3{
        font-size: 90%;
        color: white;
        position: absolute;
        margin-top: -100px;
        margin-left: 110px;
        font-weight: 100;
        
    }
    
    .title h2{
        text-align: center;
        font-size: 25px;
        margin-top: 20px;
        margin-bottom: 2%;
        margin-left: 9%;
    }
    
    .backbtn{
        float: right;
        margin-top: -65px;
        margin-right: 10px;
        padding: 12px 15px 12px 15px;
        color: white;
        text-decoration: none;
        border: 2px solid black;
        border-radius: 10px;
        font-size: 12px;
    }

    table{
        font-size: 15px;
        margin-left: 0%;
        width: 100%;
        border: 2px solid black;
        border-collapse: collapse; 
    }

    .scroll{
        width: 400px;
        margin-left: 2%;
        overflow-y: scroll;
    }

}



