*{
    margin: 0;
    padding: 0;
    font-family: 'bookman old style';
}



/* HEADER */
header{
    width: 100%;
    height: 190px;
    background-color: #162fa0;  
    
}


header img{
    margin-top: 10px;
    width: 120px;
}

header h1{
    font-size: 32px;
    color: white;
    position: absolute;
    margin: -120px 0px 0px 140px;
}

/* Search Bar*/

.searchbar{
    float: right;
    margin: 130px 170px 0px 0px;   
}


.searchbar input{
    background: white;
    width: 200px;
    height: 30px;
    border: 2px solid black;
    border-radius: 10px;
    color: black;
    text-align: center;
    outline: none;
    
}
/* Search Bar END */

/* Popup Add Animation*/

.popup{
    height: 450px;
    border: 3px solid black;
    border-radius: 10px;
    padding: 20px;
    width: 500px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%)scale(0.1);
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%)scale(1);
}
/* Popup Add Animation*/


/* MENU BAR*/

.container{
    height: 81.7%;
    width: 270px;
    position: absolute;
    margin-top: 0px;
    background: #162fa0;
    z-index: 1;
    transition: transform 0.5s;
    transform: translateX(-270px);
}

.container .head{
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding: 30px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    background: #7c9885;
}
ol{
    width: 100%;
    list-style: none;
}

ol li{
    display: block;
    width: 100%;
}

ol li a{
    color: white;
    padding: 20px 15px 0px 0px;
    text-decoration: none;
    display: block;
    font-size: 20px;
    letter-spacing: 1px;
    position: relative;
    transition: 0.3s;
    overflow: hidden;
    text-transform: capitalize;
}
ol li a i{
    margin-left: -10px;
    width: 70px;
    font-size: 25px;
    text-align: center;
}

ol li:hover a{
    background: #162fa0;
    color: #00eaff;
    letter-spacing: 3px;
}

.menu_checkbox{
    visibility: hidden;
    display: none;
}

span{
    position: absolute;
    right: -40px;
    top: 10px;
    font-size: 30px;
    border-radius: 3px;
    color: #fff;
    padding: 3px 8px;
    cursor: pointer;
    background: #162fa0;
}

span #times{
    position: absolute;
    margin: 0px 0px 0px -23px;
}

.menu_checkbox:checked ~ .container{
    transform: translateX(0);
}
.menu_checkbox:checked ~ .container #bars{
    display: none;
}

/* MENU BAR END */

.convertbtn{
    float: right;
    text-decoration: none;
    margin: 122px -360px 0px 0px;
    height: 25%;
    width: 10%;
    border-radius: 15px;
    cursor: pointer;
    background: transparent;
    color: white;
    border: 1px solid black;
    outline: none;
    font-size: 15px;
}

.convertbtn:hover{
    background: grey;
}



/* HEADER  END*/


h2{
    font-size: 40px;
    text-align: center;
}

.select{
    display: flex;
    margin-top: 20px;
    margin-left: 10px;
    font-size: 18px;
}
.select label{
    margin: 0px 0px 0px 5px;
}
.select select{
    border: 2px solid black;
}
.select_item{
    margin: 0px 0px 0px 30px;
}

.total-quantity{
    position: absolute;
    margin: 450px 0px 0px 70%;
}
.total-quantity input{
    border: 2px solid black;
    font-size: 15px;
}
.sorting{
    margin-left: 130px;
}
/* TABLE */
table{
    
    font-size: 20px;
    width: 100%;
    border: 2px solid black;
    border-collapse: collapse; 
    
    
}

.RIS-number{
    width: 8%;
}

.RISno{
    text-align: center;
    
}

.account-name{
    width: 18%;
}

.align-account-name{
    text-align: left;
    padding: 0px 0px 0px 10px;
}
.center-code{
    width: 5%;
}
.align-center-code{
    text-align: center;
}

.stock-no{
    width: 6%;
}
.user-office{
    width: 16%;
}

.align-user-office{
    text-align: left;
}

.align-stock-no{
    text-align: center;
    
}

.item-description{
    width: 20%;
}

.align-item-description{
    text-align: left;
    padding: 0px 0px 0px 10px;
}

.stock-unit{
    width: 7%;
}

.align-stock-unit{
    text-align: left;
    padding: 0px 0px 0px 10px;
}

.quantity-input{
    width: 8%;
}

.align-quantity-input{
    text-align: center;
}

.form-date{
    width: 10%;
}

.align-form-date{
    text-align: center;
    padding: 0px 0px 0px 10px;
}

table tr {
    text-align: left;
    border: 2px solid black;
}


table tr th{
    text-align: center;
    background: #162fa0;
    color: white;
    font-style: italic;
    border: 2px solid black;
    top: 0px;
    position: sticky;
    
    
}
table tr td{
    margin-left: 10px;
    font-size: 18px;
    border: 2px solid black;
    
    
}


.scroll{
    margin-top: 10px;
    width: 100%;
    height: 400px;
    overflow-y: scroll;
}


/* TABLE */